/*CSS customizado*/
body {
    background: #f1f1f1;
}

h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

#header_painel {
    background: #fff;
    display: flex;
    align-items: center;
    min-height: 200px;
    margin-bottom: 40px;
}
